// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;
$v-selection-color: rgb(255, 99, 0);

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin vierkant_theme {
  @include valo;

  // Insert your own theme rules here
  
  // avoid annoying outline on menubars
  .v-menubar:focus::after {
    border-color: #BCBCBC !important;
   	box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1) !important;
  }
 
  .v-menubar-menuitem-right-align {
  	float: right !important;
  }
 
  .v-label-humongous {
    font-size: 45px;
  }
 
  .v-label-margin-slim {
  	border-radius: 5px !important;
  }
 
  .margin-top-slim {
  	padding-top: 15px;
  }
  .margin-left-slim {
  	padding-left: 15px;
  }
  .margin-bottom-slim {
  	padding-bottom: 15px;
  }
  .margin-right-slim {
  	padding-right: 15px;
  }
 
  .dialog {
    min-width: 400px !important;
  }
 
  .aspirant {
    background-color: rgb(255, 99, 0);
    color: rgb(242, 214, 196);
    .logo {
      background-color: #FAFAFA;
      border-color: #FAFAFA;
      border-radius: 3px;
      padding: 2px;
    }
  }
 
  .enlisted {
    background-color: rgb(0, 0, 0);
    color: rgb(184, 184, 184);
    .logo {
      background-color: #FAFAFA;
      border-color: #FAFAFA;
      border-radius: 3px;
      padding: 2px;
    }
  }
 
  .lower_sub_officer {
    background-color: rgb(222, 213, 7);
    color: rgb(51, 50, 13);
    .logo {
      background-color: #FAFAFA;
      border-color: #FAFAFA;
      border-radius: 3px;
      padding: 2px;
    }
  }
 
  .upper_sub_officer {
    background-color: rgb(222, 213, 7);
    color: rgb(51, 50, 13);
    .logo {
      background-color: #FAFAFA;
      border-color: #FAFAFA;
      border-radius: 3px;
      padding: 2px;
    }
  }
 
  .subaltern_officer {
    background-color: rgb(239, 0, 0);
    color: rgb(241, 193, 193);
    .logo {
      background-color: #FAFAFA;
      border-color: #FAFAFA;
      border-radius: 3px;
      padding: 2px;
    }
  }
 
  .staff_officer {
    background-color: rgb(239, 0, 0);
    color: rgb(241, 193, 193);
    .logo {
      background-color: #FAFAFA;
      border-color: #FAFAFA;
      border-radius: 3px;
      padding: 2px;
    }
  }
 
  .board {
    background-color: rgb(23, 69, 208);
    color: rgb(196, 206, 236);
    .logo {
      background-color: #FAFAFA;
      border-color: #FAFAFA;
      border-radius: 3px;
      padding: 2px;
    }
  }
}
